
.tag-input {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tag-input input, 
.tag-input input:focus {
  border: none;
  outline: none;
}

.tag-input ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline;
}

.tag-input ul li {
  display: inline-block;
}
